{% extends "base.html" %}

{% load static %}

{% block statics %}
    <link rel="stylesheet" type="text/css" href="{% static 'review/styles.css' %}?{% now "U" %}">
{% endblock %}

{% block content %}

    <div>
        <h1>Bienvenue {{ user }}</h1>

    </div>

    <div class="container">

        <div class="sidebar">
            <a href="{% url 'ticket-create' %}">Créer Ticket</a>
            <a href="{% url 'review-create' %}">Créer Avis</a>
        </div>

        <div class="bloc-review">
            {% for ticket in tickets %}
                <p>{{ ticket.title }}</p>
                <p>{{ ticket.description }}</p>
                {% if ticket.image %}
                    <img src="{{ ticket.image.url }}" alt="">
                {% else %}
                    <img src="https://images.unsplash.com/photo-1532012197267-da84d127e765?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEzNzYzNn0?utm_source=dictionnaire&utm_medium=referral"
                         alt="default book">
                {% endif %}
            {% empty %}
                <p>Oups rien de publié</p>
            {% endfor %}
        </div>

    </div>

{% endblock %}