{% extends "base.html" %}

{% load static %}
{% load review_tags %}

{% block statics %}
    <link rel="stylesheet" type="text/css" href="{% static 'review/styles.css' %}?{% now "U" %}">
{% endblock %}

{% block content %}

    <div>
        <h1>Bienvenue {{ user.username }}</h1>

    </div>

        <div class="sidebar">
            <a href="{% url 'ticket-create' %}">Créer Ticket</a>
            <a href="{% url 'review-create' %}">Créer Avis</a>
        </div>
    <div class="container">


        <div class="bloc-review">

            {% for instance in tickets_and_reviews %}

                {% if instance|model_type == 'Ticket' %}

                    {% include "review/partials/ticket_view.html" with ticket=instance %}

                {% elif instance|model_type == 'Review' %}
                    <p>{{ instance.headline }}</p>
                    {% if instance.body %}
                        <p>{{ instance.body }}</p>
                    {% endif %}
                {% endif %}

            {% empty %}
                <p>Oups rien de publié</p>
            {% endfor %}


        </div>

    </div>

{% endblock %}