{% extends "base.html" %}

{% load static %}

{% block statics %}
    <link rel="stylesheet" type="text/css" href="{% static 'review/styles.css' %}?{% now "U" %}">
{% endblock %}

{% block content %}

    <div class="bloc-form-container">

        <h2 class="title-form">Modifier le ticket</h2>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-field">
                <label class="input-label" for="title">{{ form.title.label }}</label>
                {{ form.title }}
            </div>
            <div class="input-field">
                <label class="input-label" for="description">{{ form.description.label }}</label>
                {{ form.description }}
            </div>
            {{ form.image }}

            <button type="submit" class="btn-validate">Valider</button>
        </form>

    </div>

{% endblock %}