{% extends "base.html" %}

{% load static %}
{% load review_tags %}

{% block statics %}
    <link rel="stylesheet" type="text/css" href="{% static 'review/styles.css' %}?{% now "U" %}">
{% endblock %}

{% block content %}

    <div class="bloc-main-title">
        <h1 class="posts-title">Vous retrouvez ici tous vos posts que vous pouvez modifier ou supprimer</h1>
    </div>

    <hr>

    <div class="container">

        <div class="bloc-review">

            {% for instance in tickets_and_reviews %}

                {% if instance|model_type == 'Ticket' %}

                    {% include "review/partials/ticket_view.html" with ticket=instance %}

                {% elif instance|model_type == 'Review' %}

                    {% include "review/partials/review_view.html" with review=instance %}

                {% endif %}

            {% empty %}
                <p>Oups rien de publié</p>
            {% endfor %}


        </div>

    </div>

{% endblock %}