{% extends 'base.html' %}

{% load static%}

{% block statics %}
    <link rel="stylesheet" type="text/css" href="{% static 'review/styles.css' %}?{% now "U" %}">
{% endblock %}

{% block content %}

    <div>

        {% for user in page_obj %}

            <div>
                <p>{{ user.username }}</p>
                <p>{{ user.first_name }}</p>
                <p>{{ user.last_name }}</p>

                {% if user in followed_people %}
                    <form method="POST" action="{% url 'remove-follower' user.pk %}">
                        {% csrf_token %}
                        <button class="btn btn-outline-danger" type="submit">Se désabonner</button>
                    </form>
                {% else %}
                    <form method="POST" action="{% url 'add-follower' user.pk %}">
                        {% csrf_token %}
                        <button class="btn btn-outline-success" type="submit">S'abonner</button>
                    </form>
                {% endif %}
            </div>

            <br>

        {% empty %}
            <p>Oups... Il n'y pas d'autres utilisateurs !</p>
        {% endfor %}

        {% if page_obj %}
            <div class="paginator-container">
                {% if page_obj.has_previous %}
                    <a class="link-page" href="?page=1">« première</a>
                    <a class="link-page" href="?page={{ page_obj.previous_page_number }}">précédente</a>
                {% endif %}

                <span class="bloc-nb-page">
                Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.
            </span>

                {% if page_obj.has_next %}
                    <a class="link-page" href="?page={{ page_obj.next_page_number }}">suivante</a>
                    <a class="link-page" href="?page={{ page_obj.paginator.num_pages }}">dernière »</a>
                {% endif %}
            </div>
        {% endif %}

    </div>

{% endblock %}