@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: 'Space Grotesk', sans-serif;
}

.main-container {
    display: flex;
    flex-direction: row;
}

.navbar {
    background-color: #002B36;
    height: 70px;
    width: 100%;
    color: antiquewhite;
    overflow-x: hidden;
    position: fixed;
    justify-content: space-around;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.main {
    margin-top: 125px;
}

.navbar-content {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 125px;
    justify-content: space-around;
    align-items: center;
}

.navbar-link, .navbar-link-deconnect {
    text-decoration: none;
    color: antiquewhite;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.4s;
}

.navbar-link:hover {
    color: #009BC2;
}

.navbar-link-deconnect:hover {
    color: #b54141;
}
