{#{% extends 'base.html' %}#}

{% load review_tags %}

{% block content %}

    <div class="bloc-ticket">
        <div class="header-ticket">
            <p>{% get_poster_display ticket.user %} demandé une critique</p>
            <p>{{ ticket.date_created|get_posted_at_display }}</p>
        </div>
        <h2 class="title-ticket">{{ ticket.title }}</h2>

        <div class="body-ticket">
            <p class="description-ticket">{{ ticket.description }}</p>

            {% if ticket.image %}
                <img class="img-ticket" src="{{ ticket.image.url }}" alt="">
            {% endif %}
        </div>

        {% url 'home' as url_home %}
        {% if request.path == url_home %}
            {% if ticket.id not in request.user.user_reviews %}
            <div class="bloc-btn">
                    <a href="{% url 'review-answer' ticket.id %}">
                        <button class="btn-ticket">
                            Créer avis
                        </button>
                    </a>
            </div>
            {% endif %}

{#                {% url 'feed' as url_feed %}#}
                {% else %}
                <div class="bloc-btn">
                    <a href="{% url 'ticket-update' ticket.id %}">
                        <button class="btn-ticket btn-update">Modifier</button>
                    </a>
                    <a href="{% url 'ticket-delete' ticket.id %}">
                        <button class="btn-ticket btn-update">Supprimer</button>
                    </a>
            </div>
        {% endif %}
    </div>

{% endblock %}