<div class="navbar">
    <h1>LitReview App</h1>

    {% if request.user.is_authenticated %}

        <a class="navbar-link" href="{% url 'home' %}">Accueil</a>

        <a class="navbar-link" href="{% url 'tickets_reviews_feed' %}">Mes posts</a>

        <a class="navbar-link" href="{% url 'users-list' %}">Mes abonnements</a>

        <a class="navbar-link" href="{% url 'password-change' %}">Changer le mot de passe</a>

        <a class="navbar-link-deconnect" href="{% url 'logout' %}">Se déconnecter</a>
    {% endif %}
</div>
