body {
    background-color: #0D6B82;
}

.bloc-review {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.bloc-ticket {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 35px;
    background: #f5f6fa;
    box-shadow: 2px 3px 4px 0 #012a36;
    margin: 2% 0;
}

.header-ticket {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.header-ticket p {
    color: #0D6B82;
    font-size: 16px;
    font-weight: 300;
}

.title-ticket {
    font-size: 25px;
    color: #0D6B82;
    font-weight: 900;
    margin-bottom: 10px;
}

.body-ticket {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.description-ticket {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.img-ticket {
    width: 110px;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
}

.btn-ticket {
    width: 150px;
    padding: 15px;
    background: #0D6B82;
    border-radius: 5px;
    margin: 5px 0;
    box-shadow: 3px 3px 4px 0 #05393b;
    border: none;
    cursor: pointer;
    transition: filter 0.5s;
}

.bloc-btn {
    text-align: center;
    margin: 10px 0;
}

.btn-ticket:hover {
    filter: brightness(1.3);
}

.btn-ticket a {
    text-decoration: none;
    color: #f5f6fa;
    font-weight: 900;
    font-size: 18px;
}

.bloc-review-ticket {
    padding: 15px;
    border: 1.5px solid #0D6B82;
    border-radius: 10px;
}

.bloc-review-ticket p {
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 14px;
}

.bloc-img-ticket-review {
    display: flex;
}